@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --green: #37a39a;
  --crimson: crimson;
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

/* Add smooth transition for theme change */
html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
